<div class="institution_new_main">
  <div class="institution_new_container">
    <h2>医療機関情報新規作成</h2>
    <%= form_with model: @institution do |f| %>
      <%= render "shared/institution_form", f: f %>
      <div class="institution_name_container">
        <%= f.submit "登録する", class: "institution_submit" %>
      </div>
    <% end %>
  </div>
</div>
