<div class="index_top top_background_img">
  <div class="image_mask">
    <div class="size_adjust">
      <h1>医療機関を検索できます</h1>
      <div class="login">
        <% if user_signed_in? %>
          <div class="user_body">
            <p>ログインしています(ログアウトは右上から)</p>
            <p>お気に入り機能が使えます</p>
            <p>コメントを残すことができます</p>
          </div>
        <% elsif medicalstaff_signed_in? %>
          <div class="midecal_staff_body">
            <p>医療関係者としてログインしています</p>
            <p>近隣医療機関を表示することができます</p>
          </div>
        <% else %>
          <div class="login_body font_large">
            <div class="login_top">
              <p class="login_text">ログインしてお気に入り機能を使おう</p>
              <p class="login_description">
                ログインするとお気に入り機能が使えるようになります。<br>
                かかりつけの医療機関や気になった医療機関をお気に入りにすることで、より便利にご利用いただけます。
              </p>
            </div>
            <div class="flex_spacearound container">
              <%= render "shared/login_user" %>
              <%= render "shared/login_medicalstaff" %>
            </div>
            <% if user_signed_in? %>
            <% elsif medicalstaff_signed_in? %>
            <% else %>
              <div class="without_login text_center font_larger">
                <p class="without_login_text">ログインせずに検索</p>
                <div class="down_triangle">
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if medicalstaff_signed_in? %>
  <div class="top_map_caontainer">
    <% if current_medicalstaff.address? %>
      <%= render "shared/place_map" %>
    <% else %>
      <%#= render "shared/search_map" %>
    <% end %>
  </div>
<% else%>
  <%#= render "shared/search_map" %>
<% end %>
