<div class="user_info_main">
  <div class="user_info_container">
    <div class="user_info_paragpraph">
      <h2 class="user_info_title">使える機能</h2>
      <h3 class="user_info_paragpraph_title">お気に入り機能</h3>
      <div class="user_info_paragraph_text">
        お気に入りに登録すると、<span class="text_red">プロフィール画面にお気に入り一覧が表示</span>されます。<br>
        かかりつけの医療機関や、気になった医療機関をお気に入りにすることで、より便利にご利用いただけます。
      </div>
    </div>
    <div class="user_info_paragpraph">
      <h3 class="user_info_paragpraph_title">検索機能</h3>
      <div class="user_info_paragraph_text">
        <span class="text_red">医療機関情報の検索フォームを使って、登録された医療機関を検索</span>できます。<br>
        医療機関名や住所、診療科目などで検索することで、お目当ての医療機関を見つけやすくなります。<br>
        住所は住所検索から、医療機関名や診療科目などは、情報検索を活用ください。
      </div>
    </div>
    <div class="user_info_paragpraph">
      <h3 class="user_info_paragpraph_title">情報詳細</h3>
      <div class="user_info_paragraph_text">
        <span class="text_red">気になる医療機関をクリックすると、詳細情報が確認</span>できます。
      </div>
    </div>
    <% unless user_signed_in? %>
      <div class="flex_spaceevenly">
        <div class="user_info_login">
          <%= link_to "ログイン", new_user_session_path, class: "user_info_login_submit" %>
        </div>
        <div class="user_info_registration">
          <%= link_to "新規登録", new_user_registration_path, class: "user_info_registration_submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
