<div class="user_info_container">
  <div class="user_info_paragpraph">
    <h2 class="user_info_paragpraph_title">お気に入り機能</h2>
    <div class="user_info_paragraph_text">
      お気に入りに登録すると、プロフィール画面にお気に入り一覧が表示されます。<br>
      かかりつけの医療機関や、気になった医療機関をお気に入りにすることで、より便利にご利用いただけます。
    </div>
  </div>
  <div class="user_info_paragpraph">
    <h2 class="user_info_paragpraph_title">検索機能</h2>
    <div class="user_info_paragraph_text">
      医療機関情報の検索フォームを使って、登録された医療機関を検索できます。<br>
      医療機関名や住所、診療科目などで検索することで、お目当ての医療機関を見つけやすくなります。<br>
      住所は住所検索から、医療機関名や診療科目などは、情報検索を活用ください。
    </div>
  </div>
  <div class="user_info_paragpraph">
    <h2 class="user_info_paragpraph_title">情報詳細</h2>
    <div class="user_info_paragraph_text">
      登録された医療機関の情報を確認できます。<br>
      気になる医療機関をクリックすると、詳細情報が確認できます。
    </div>
  </div>
  <% unless user_signed_in? %>
    <div class="new_user_login">
      <%= link_to "ログイン", new_user_session_path, class: "new_user_login_text sesstion_path" %>
    </div>
    <div class="new_user_registration">
      <%= link_to "新規登録", new_user_registration_path, class: "new_user_registration_text registration_path" %>
    </div>
  <% end %>
</div>
