<div class="flex medicalstaff_header_bar">
  <div class="link_staff_info"><%= link_to "登録情報確認", medicalstaffs_path %></div>
  <% if current_medicalstaff.name? %>
    <div class="staff_name"><%= current_medicalstaff.name %></div>
  <% else %>
    <div class="staff_guest">ゲスト</div>
  <% end %>
  <div class="logout_staff"><%= link_to "ログアウト", destroy_medicalstaff_session_path, method: :delete %></div>
</div>
<div class="medicalstaff_menu">
  <div class="medicalstaff_menu_icon", id="medicalstaff_menu_box">
    <div id="medicalstaff_hamburger">
      <i class="fas fa-bars fa-2x"></i>
    </div>
    <div id="medicalstaff_menu_close">
      <i class="far fa-window-close fa-2x"></i>
    </div>
  </div>
  <div class="medicalstaff_menu_name">
    <% if current_medicalstaff.name? %>
      <div class="medicalstaff_name"><%= current_medicalstaff.name %></div>
    <% else %>
      <div class="medicalstaff_guest">ゲスト</div>
    <% end %>
  </div>
</div>
