$body_background_color: skyblue;
$jp_font-family: "メイリオ";
$user-color: #16e;
$medicalstaff-color: #eaf;

body {
  margin: 0;
  background-color: $body_background_color;
  font-family: $jp_font-family;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.container {
  padding: 20px 0;
}


.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
}

.flex_spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_spacearound {
  display: flex;
  justify-content: space-around;
}

.flex_spaceevenly {
  display: flex;
  justify-content: space-evenly;
}

.font_large {
  font-size: 20px;
}

.font_larger {
  font-size: 24px;
}

.text_center {
  text-align: center;
}

.text_red {
  color: red;
}

/* ===================================================================
                  layout/application
====================================================================*/
.top_bar {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  div {
    margin: 0 10px;
  }
}

.top_title_container {
  text-align: center;
  .page_title {
    margin: 0px;
    padding: 10px 20px;
    background-color: $body_background_color;
  }
  .user_info_link {
    color: white;
    background-color: $user-color;
    border: 1px solid $user-color;
    border-radius: 2px;

  }
  .medicalstaff_info_link {
    color: white;
    background-color: $medicalstaff-color;
    border: 1px solid $medicalstaff-color;
    border-radius: 2px;
  }
}
