$body_background_color: skyblue;
$jp_font-family: "メイリオ";
$user-color: #16e;
$medicalstaff-color: #eaf;

$breakpoints: (
  'lg': 'screen and (max-width :960px)',
  'md': 'screen and (max-width :720px)',
  'sm': 'screen and (max-width :480px)'
);

@mixin info_link($color: "fff") {
  color: white;
  background-color: $color;
  border: 1px solid $color;
  border-radius: 2px;
}

@mixin media($bp) {
  @media #{map-get($breakpoints, $bp)}{
    @content;
  }
}

body {
  margin: 0;
  background-color: $body_background_color;
  font-family: $jp_font-family;
  @include media(lg) {
    background-color: red;
  }
  @include media(md) {
    background-color: green;
  }
  @include media(sm) {
    background-color: orange;
  }
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.container {
  padding: 20px 0;
  @include media(md) {
    padding: 0;
  }
}


.flex {
  display: flex;
  @include media(md) {
    display: block;
  }
}

.flex_center {
  display: flex;
  justify-content: center;
  @include media(md) {
    display: block;
  }
}

.flex_spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media(md) {
    display: block;
  }
}

.flex_spacearound {
  display: flex;
  justify-content: space-around;
  @include media(md) {
    display: block;
  }
}

.flex_spaceevenly {
  display: flex;
  justify-content: space-evenly;
  @include media(md) {
    display: block;
  }
}

.font_large {
  font-size: 20px;
  @include media(md) {
    font-size: 14px;
  }
  @include media(sm) {
    font-size: 12px;
  }
}

.font_larger {
  font-size: 24px;
  @include media(md) {
    font-size: 18px;
  }
  @include media(sm) {
    font-size: 15px;
  }
}

.text_center {
  text-align: center;
}

.text_red {
  color: red;
}

/* ===================================================================
                  layout/application
====================================================================*/
.top_bar {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  div {
    margin: 0 10px;
    @include media(sm) {
      margin: 0 3px;
    }
  }
  .user_header_bar {
    align-items: center;
    margin: 0 10px 0 auto;
    @include media(lg) {
      display: none;
    }
    div {
      margin: 0 10px;
    }
  }
  .user_nemu {
    display: none;
    @include media(lg) {
      display: block;
      margin: 0 10px 0 auto;
      text-align: center;
    }
  }
  .medicalstaff_header_bar {
    align-items: center;
    margin: 0 10px 0 auto;
    @include media(lg) {
      display: none;
    }
    div {
      margin: 0 10px;
    }
  }
  .medicalstaff_nemu {
    display: none;
    @include media(lg) {
      display: block;
      margin: 0 10px 0 auto;
      text-align: center;
    }
  }
}

.top_title_container {
  text-align: center;
  .page_title {
    margin: 0px;
    padding: 10px 20px;
    background-color: $body_background_color;
    @include media(md) {
      padding: 0;
      font-size: 1.2em;
    }
    @include media(md) {
      font-size: 1em;
    }
  }
  .user_info_link {
    @include info_link($user-color);

  }
  .medicalstaff_info_link {
    @include info_link($medicalstaff-color);
  }
}

.user_nemu_content {
  display: none;
  @include media(lg) {
    display: flex;
    position: absolute;
    margin: 0 10px 0 auto;
    right: 3px;
  }
  .user_nemu_prof {
    margin-right: 10px;
  }
}

.medicalstaff_nemu_content {
  display: none;
  @include media(lg) {
    display: flex;
    position: absolute;
    margin: 0 10px 0 auto;
    right: 3px;
  }
  .medicalstaff_nemu_prof {
    margin-right: 10px;
  }
}

.flash_notice {
  margin: 0px 15px 3px;
}
