$body_background_color: skyblue;
$jp_font-family: "メイリオ";

body {
  margin: 0;
  background-color: $body_background_color;
  font-family: $jp_font-family;
}

.top_bar {
  margin: 0 20px;
  display: flex;
  align-items: center;
  div {
    margin: 0 10px;
  }
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.container {
  padding: 20px 0;
}

.page_title {
  margin: 0px;
  padding: 10px 20px;
  background-color: $body_background_color;
}

.flex_spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_justify {
  display: flex;
  justify-content: space-around;
}

.font_large {
  font-size: 20px;
}

.font_larger {
  font-size: 24px;
}

.text_center {
  text-align: center;
}
