// Place all the styles related to the Consultationhours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$medical-color: #eaf;
$breakpoints: (
  'lg': 'screen and (max-width :960px)',
  'md': 'screen and (max-width :720px)',
  'sm': 'screen and (max-width :480px)'
);

@mixin media($bp) {
  @media #{map-get($breakpoints, $bp)}{
    @content;
  }
}

/* ===================================================================
          institution/consultationhour & consultationhour/edit
====================================================================*/

.consultationhour_new_main {
  width: 90%;
  margin: 40px auto;
  .consultationhour_new_container {
    padding: 15px 20px;
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
    h2 {
      margin: 10px;
      color: $medical-color;
    }
    .consultationhour_new_explanation {
      line-height: 1.5em;
    }
    .explanation3 {
      margin: 15px 0;
    }
    .start_time_container, .end_time_container {
      margin: 10px 0;
      .start_time_text, .end_time_text {
        font-size: 14px;
        padding: 2px;
      }
    }
      .detail_container {
        text-align: center;
        margin: 20px;
        @include media(md) {
          text-align: initial;
        }
      .detail_label {
        vertical-align: top;
      }
      .detail_text {
      width: 60%;
      height: 15em;
      padding: 5px;
      line-height: 1.5em;
      letter-spacing: 1.5px;
      @include media(sm) {
        height: 10em;
      }
      }
    }
    .consultationhour_submit_container {
      text-align: center;
      .consultationhour_submit {
        width: 90%;
        padding: 10px 20px;
        margin: 20px;
        color: white;
        font-size: large;
        font-weight: bold;
        letter-spacing: 2px;
        border: 1px solid $medical-color;
        border-radius: 5px;
        background-color: $medical-color;
      }
    }
    .consultationhour_institution_path_link_container {
      padding: 20px;
      margin: 10px;
      text-align: center;
      letter-spacing: 2px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
}

/* ===================================================================
                  _consultationhours_form_day
====================================================================*/

.consultationhour_day_new_container {
  margin: 9px;
  .consultationhour_day_container {
    width: 70%;
    margin: 0 auto;
    .day_select {
      padding: 10px;
    }
  }
}
