// Place all the styles related to the institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$medical-color: #eaf;
$breakpoints: (
  'lg': 'screen and (max-width :960px)',
  'md': 'screen and (max-width :720px)',
  'sm': 'screen and (max-width :480px)'
);

@mixin media($bp) {
  @media #{map-get($breakpoints, $bp)}{
    @content;
  }
}


/* ===================================================================
                        institution/index
====================================================================*/
.institution_index_main {
  margin: 40px 0;
  padding: 0 5%;
  text-align: center;
  @include media(sm) {
    padding: 0 2%;
  }
  h3 {
    margin: 0;
  }
  .address_cont_label {
    @include media(md) {
      display: block;
    }
  }
  .name_or_department_or_introduction_cont_label {
    @include media(md) {
      display: block;
    }
  }
  .search_submit {
    padding: 5px 10px;
    margin: 10px;
    color: white;
    border: 1px solid $medical-color;
    border-radius: 5px;
    background-color: $medical-color;
  }
  .institution_index_container {
    padding: 5px 20px;
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
    @include media(sm) {
      padding: auto;
    }
    h2 {
      color: $medical-color;
    }
    .linkto_institution_new {
      padding: 5px 40px;
      margin: 10px;
      color: white;
      border: 1px solid $medical-color;
      border-radius: 5px;
      background-color: $medical-color;
    }
  }
}

/* ===================================================================
                institution/new & institution/edit
====================================================================*/
.institution_new_main {
  margin: 40px 0;
  padding: 0 5%;
  text-align: center;
  .institution_new_container {
    padding: 5px 20px;
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
    h2 {
      color: $medical-color;
    }
    .institution_submit {
      padding: 10px 20%;
      margin: 10px;
      font-size: larger;
      color: white;
      border: 1px solid $medical-color;
      border-radius: 5px;
      background-color: $medical-color;
    }
  }
}

/* ===================================================================
                          institution/show
====================================================================*/
.institution_show_main {
  margin: 40px 0;
  padding: 0 5%;
  text-align: center;
  .show_label {
    margin-bottom: 5px;
    border: 1px solid $medical-color;
    border-radius: 5px;
  }
  .institution_show_container {
    padding: 5px 20px;
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
    h2 {
      color: $medical-color;
    }
    .institution_show_info_container {
      width: 50%;
      @include media(md) {
        width: auto;
      }
      .institution_show_name_container, .institution_show_department_container, .institution_show_postcode_container, .institution_show_address_container, .institution_show_intro_container {
        margin: 20px;
      }
      .show_text {
        font-size: large;
        @include media(sm) {
          font-size: medium;
        }
      }
      .institution_show_intro_text {
        overflow-wrap: break-word;
      }
    }
    .institution_show_image_container {
      margin: auto 20px;
      @include media(md) {
        margin: 20px;
      }
      img {
        width: 100%;
      }
    }
    .institution_show_edit, .institution_consultationhour_create_link {
      padding: 5px 20px;
      margin: 10px;
      color: white;
      border: 1px solid $medical-color;
      border-radius: 5px;
      background-color: $medical-color;
    }
    .institution_show_delete {
      padding: 5px 20px;
      margin: 10px;
      color: red;
      border: 1px solid red;
      border-radius: 5px;
      background-color: white;
    }
  }
  .institution_consultationhour_container{
    width: 80%;
    margin: 0 auto;
    @include media(md) {
      width: auto;
    }
    .consultation_detail_container {
      text-align: left;
      width: 50%;
      margin: 0 auto;
      @include media(lg) {
        width: 100%;
        margin: 0 10%;
      }
      @include media(sm) {
        font-size: small;
      }
    }
    .institution_consultationhour_table {
      margin: 0 auto;
      width: 100%;
      td {
        height: 35px;
        font-size: large;
        @include media(sm) {
          font-size: small;
        }
      }
      .th_time, .td_time {
        width: 40%;
      }
      .th_day, .td_day {
        width: 6%;
      }
      .th_edit, .td_edit, .th_destroy, .td_destroy {
        width: 6%;
        font-size: small;
      }
      .td_edit {
        padding: 2px 2px;
        margin: 10px;
        color: white;
        border: 1px solid $medical-color;
        border-radius: 5px;
        background-color: $medical-color
      }
      .td_destroy {
        padding: 2px 2px;
        color: red;
        border: 1px solid red;
        border-radius: 5px;
        background-color: white;
      }
    }
  }
}

.map_container{
  margin: 30px auto;
  width: 75%;
  #institution_map {
    height: 600px;
    width: 100%;
    @include media(md) {
      height: 400px;
    }
  }
}

/* ===================================================================
                    _institution_form
====================================================================*/
.institution_form_flex_container {
  display: flex;
  justify-content: space-around;
  @include media(lg) {
    display: block;
  }
  .institution_info_container {
    text-align: left;
    @include media(md) {
      text-align: center;
    }
    .institution_name_container, .institution_department_container, .institution_image_container, .institution_postcode_container, .institution_prefecture_container, .institution_city_container, .institution_street_container, .institution_building_container, .institution_intro_container {
      margin: 15px 5px;
      @include media(lg) {
        width: 80%;
        margin: 15px auto;
      }
    }
    .institution_label{
      margin-right: 5px;
      font-size: large;
      @include media(md) {
        display: block;

      }
    }
    .institution_text {
      width: 200px;
      padding: 5px;
      @include media(lg) {
        width: 70%;
      }
      @include media(md) {
        width: 90%;
      }
    }
    #institution_prefecture {
      padding: 5px;
      width: 60%;
      font-size: 14px;
    }
    #institution_intro_label {
      vertical-align: top;
    }
    #institution_intro_text{
      height: 100px;
    }
  }
  #institution_image_label {
    font-size: large;
  }
  .institution_image_box {
    margin: 20px 0;
    #institution_image{
      width: 80%;
    }
    #default_institution_image{
      width: 80%;
    }
  }
}

/* ===================================================================
                    _institution_table
====================================================================*/
.insitution_index_table {
  text-align: center;
  @include media(sm) {
    font-size: 14px;
  }
  .institution_index_td {
    padding: 10px;
  }
  .image_th, .image_td {
    width: 20%;
    .institution_index_image {
      width: 100%;
    }
  }
  .name_td, .name_th {
    width: 20%;
    overflow-wrap: break-word;
  }
  .department_td, department_th {
    width: 20%;
    overflow-wrap: break-word;
  }
  .postcode_td, .postcode_th {
    width: 15%;
    @include media(lg) {
      display: none;
    }
  }
  .address_td, .address_th {
    width: 25%;
    overflow-wrap: break-word;
    @include media(md) {
      display: none;
    }
  }
}
