// Place all the styles related to the Medicalstaffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$medical-color: #eaf;
$breakpoints: (
  'lg': 'screen and (max-width :960px)',
  'md': 'screen and (max-width :720px)',
  'sm': 'screen and (max-width :480px)'
);

@mixin media($bp) {
  @media #{map-get($breakpoints, $bp)}{
    @content;
  }
}

/* ===================================================================
                  medicalstaff/sessions/new
====================================================================*/
.medicalstaff_login_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media (lg) {
    padding: 0 20%;
  }
  @include media (md) {
    padding: 0 15%;
  }
  @include media (sm) {
    padding: 0 10%;
  }
  h2 {
    color: $medical-color;
    @include media(sm) {
      font-size: 1.2em;
      margin: 10px;
    }
  }
  .medicalstaff_login_container{
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
  }
  .field {
    margin: 10px;
  }
  .medicalstaff_login_mail_label, .medicalstaff_login_password_label {
    padding-right: 10px;
    @include media (sm) {
      display: block;
    }
  }
  .medicalstaff_login_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $medical-color;
    border-radius: 5px;
    background-color: $medical-color;
  }
  .medicalstaff_admin {
    padding: 10px;
    margin: 20px 25%;
    border: 1px solid black;
    border-radius: 20px;
    @include media (sm) {
      margin: 20px 15%;
    }
  }
}

/* ===================================================================
  medicalstaffs/registrations/new & medicalstaffs/registrations/edit
====================================================================*/
.medicalstaff_registration_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media(lg) {
    padding: 0 20%;
  }
  @include media (md) {
    padding: 0 12%;
  }
  @include media (sm) {
    padding: 0 10%;
  }
  .medicalstaff_registration_container {
    padding: 20px;
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
    @include media(md) {
      padding: 20px 0;
    }
  }
  h2 {
    margin: 0;
    color: $medical-color;
  }
  .field {
    margin: 10px;
  }
  .medicalstaff_registration_mail_label, .medicalstaff_registration_password_label, .medicalstaff_registration_password_confirmation_label {
    padding-right: 10px;
    @include media (md) {
      display: block;
    }
  }
  .medicalstaff_registration_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $medical-color;
    border-radius: 5px;
    background-color: $medical-color;
  }
  .delete_account_button{
    padding: 5px 40px;
    margin: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
  }
  .medicalstaff_admin {
    padding: 10px;
    margin: 20px 25%;
    border: 1px solid black;
    border-radius: 20px;
    @include media (sm) {
      margin: 20px 15%;
    }
  }
}

/* ===================================================================
                  medicalstaffs/shared/_links
====================================================================*/

.medicalstaff_link_container {
  width: 70%;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  @include media(lg) {
    width: 80%;
  }
  @include media(md) {
    width: 90%;
  }
  .medicalstaff_link {
    color: $medical-color;
  }
}


/* ===================================================================
                  medicalstaffs/index
====================================================================*/
.medicalstaff_index_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media(lg) {
    padding: 0 20%;
  }
  @include media(md) {
    padding: 0 15%;
  }
  @include media(sm) {
    padding: 0 10%;
  }
  .medicalstaff_index_container {
    padding: 20px;
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
  }
  h2 {
    color: $medical-color;
  }
  .medicalstaff_index_name_container, .medicalstaff_index_address_container, .medicalstaff_index_email_container, .medicalstaff_index_password_container{
    width: 80%;
    margin: 10px auto;
  }
  .medicalstaff_name_index, .medicalstaff_address_index, .medicalstaff_email_index, .medicalstaff_password_index {
    padding-right: 10px;
    display: block;
  }
  .medicalstaff_registration_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $medical-color;
    border-radius: 5px;
    background-color: $medical-color;
  }
  .medicalstaff_index_link_edit {
    width: 50%;
    margin: 20px auto;
    padding: 5px;
    color: $medical-color;
    border: 1px solid black;
    border-radius: 20px;
    @include media(md) {
      width: 70%;
    }
    @include media(md) {
      width: 85%;
    }
  }
}

/* ===================================================================
                  medicalstaffs/edit
====================================================================*/
.medicalstaff_edit_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media(lg) {
    padding: 0 20%;
  }
  @include media(md) {
    padding: 0 15%;
  }
  @include media(sm) {
    padding: 0 10%;
  }
  .medicalstaff_edit_container {
    padding: 20px;
    border: 2px solid $medical-color;
    border-radius: 20px;
    background-color: white;
    @include media(sm) {
      padding: 5px;
    }
  }
  h2 {
    color: $medical-color;
    @include media(sm) {
      font-size: 1.2em;
      margin: 10px;
    }
  }
  .medicalstaff_edit_name_container {
    margin: 20px;
  }
  .medicalstaff_edit_address_container, .medicalstaff_edit_prof_address_container {
    margin: 10px;
  }
  .medicalstaff_name_label, .medicalstaff_address_label {
    display: block;
    vertical-align: top;
  }
  .medicalstaff_address_text_field{
    width: 300px;
    @include media(sm) {
      width: 200px;
    }
  }
  .medicalstaff_edit_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $medical-color;
    border-radius: 5px;
    background-color: $medical-color;
  }
}
