// Place all the styles related to the Medicalstaffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$medicalstaff-color: #eaf;
/* ===================================================================
                  medicalstaff_sessions_new
====================================================================*/
.medicalstaff_login_main {
  padding: 0 25%;
  text-align: center;
  h2 {
    color: $medicalstaff-color;
  }
  .medicalstaff_login_container{
    border: 2px solid $medicalstaff-color;
    border-radius: 20px;
    background-color: white;
  }
  .field {
    margin: 10px;
  }
  .medicalstaff_login_mail_label, .medicalstaff_login_password_label {
    padding-right: 10px;
  }
  .medicalstaff_login_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $medicalstaff-color;
    border-radius: 5px;
    background-color: $medicalstaff-color;
  }
  .medicalstaff_admin {
    padding: 10px;
    margin: 20px 25%;
    border: 1px solid black;
    border-radius: 20px;
  }
}

/* ===================================================================
                  medicalstaff_registrations_new
====================================================================*/
.medicalstaff_registration_main {
  padding: 0 25%;
  text-align: center;
  h2 {
    color: $medicalstaff-color;
  }
  .medicalstaff_registration_container{
    border: 2px solid $medicalstaff-color;
    border-radius: 20px;
    background-color: white;
  }
  .field {
    margin: 10px;
  }
  .medicalstaff_registration_mail_label, .medicalstaff_registration_password_label, .medicalstaff_registration_password_confirmation_label {
    padding-right: 10px;
  }
  .medicalstaff_registration_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $medicalstaff-color;
    border-radius: 5px;
    background-color: $medicalstaff-color;
  }
  .medicalstaff_admin {
    padding: 10px;
    margin: 20px 25%;
    border: 1px solid black;
    border-radius: 20px;
  }
}
