/* ===================================================================
                    _institution_form
====================================================================*/
.institution_info_container {
  text-align: left;
  .institution_name_container, .institution_image_container, .institution_postcode_container, .institution_prefecture_container, .institution_city_container, .institution_street_container, .institution_building_container, .institution_intro_container {
    margin: 15px 5px;
  }
  .institution_label{
    margin-right: 5px;
    font-size: large;
  }
  .institution_text {
    width: 200px;
    padding: 5px;
  }
  #institution_prefecture {
    padding: 5px;
    width: 60%;
    font-size: 14px;
  }
  #institution_intro_label {
    vertical-align: top;
  }
  #institution_intro_text{
    height: 100px;
  }
}
#institution_image_label {
  font-size: large;
}
.institution_image_box {
  margin: 20px 0;
  #institution_image{
    width: 80%;
  }
  #default_institution_image{
    width: 80%;
  }
}

/* ===================================================================
                    _institution_table
====================================================================*/
.insitution_index_table {
  text-align: center;
  .institution_index_td {
    padding: 10px;
  }
  .image_th, .image_td {
    width: 20%;
    .institution_index_image {
      width: 100%;
    }
  }
  .name_td, .name_th {
    width: 15%;
    overflow-wrap: break-word;
  }
  .postcode_td, .postcode_th {
    width: 15%;
  }
  .address_td, .address_th {
    width: 20%;
    overflow-wrap: break-word;
  }
  .intro_td, .intro_th {
    width: 30%;
    overflow-wrap: break-word;
  }
}
