// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$top-background-color: #fee;
$user-color: #16e;
$medicalstaff-color: #eaf;
$breakpoints: (
  'lg': 'screen and (max-width :960px)',
  'md': 'screen and (max-width :720px)',
  'sm': 'screen and (max-width :480px)'
);

@mixin media($bp) {
  @media #{map-get($breakpoints, $bp)}{
    @content;
  }
}

@mixin login($color: #fff) {
  color: $color;
  font-weight: bold;
}

/* ===================================================================
                  top/index
====================================================================*/

.top_background_img {
  height: 650px;
  background-image: url('top/hospital.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $top-background-color;
  @include media(md) {
    height: 550px;
  }
  .image_mask {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    .size_adjust {
      margin: 0 30px;
      padding: 30px;
      @include media(md) {
        margin: 0 5px;
        padding: 40px 10px 0px;
      }
      h1 {
        @include media(md) {
          font-size: 1.5em;
        }
        @include media(sm) {
          margin: 0;
          font-size: 1.2em;
        }
      }
    }
  }
}

.user_login {
  @include login($user-color);
  .user_login_text {
    @include media(md) {
      margin: 10px;
    }
  }
}

.medicalstaff_login {
  @include login($medicalstaff-color);
  @include media(md) {
    margin-top: 20px;
  }
  .medicalstaff_login_text {
    @include media(md) {
      margin: 10px;
    }
  }
}

.without_login_text {
  @include media(lg) {
    margin: 10px;
  }
}

.down_triangle {
  margin: auto;
  width: 0px;
  height: 0px;
  border-top: 30px solid black;
  border-right: 30px solid transparent;
  border-left:  30px solid transparent;
  @include media(md) {
    border-top: 20px solid black;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
  }
}

/* ===================================================================
                  user_info
====================================================================*/
.user_info_main {
  margin: 30px 0;
  padding: 0 5%;
  .user_info_container{
    padding: 20px;
    border: 2px solid $user-color;
    border-radius: 20px;
    background-color: white;
    @include media(md) {
      padding: 10px;
    }
    h2 {
      color: $user-color;
      @include media(md) {
        margin: 10px 0;
      }
    }
    .user_info_paragraph_text {
      line-height: 1.5em;
    }
    .user_info_login, .user_info_registration {
      padding: 5px 40px;
      margin: 20px 10px;
      color: white;
      text-align: center;
      border: 1px solid $user-color;
      border-radius: 5px;
      background-color: $user-color;
    }
  }
}


/* ===================================================================
                  medicalstaff_info
====================================================================*/
.medicalstaff_info_main {
  margin: 30px 0;
  padding: 0 5%;
  .medicalstaff_info_container{
    padding: 20px;
    border: 2px solid $medicalstaff-color;
    border-radius: 20px;
    background-color: white;
    @include media(md) {
      padding: 10px;
    }
    h2 {
      color: $medicalstaff-color;
      @include media(md) {
        margin: 10px 0;
      }
    }
    .medicalstaff_info_paragraph_text {
      line-height: 1.5em;
      @include media(md) {
        margin: 10px 0 5px;
      }
    }
    .medicalstaff_info_login, .medicalstaff_info_registration {
      padding: 5px 40px;
      margin: 20px 10px;
      color: white;
      text-align: center;
      border: 1px solid $medicalstaff-color;
      border-radius: 5px;
      background-color: $medicalstaff-color;
    }
  }
}




/* ===================================================================
                  shared/place_map
====================================================================*/
.place_map_container{
  margin: 20px auto;
  width: 90%;
  text-align: center;
  .place_map_search_area {
    margin-bottom: 10px;
    #place_search {
      width: 300px;
      font-size: large;
      padding: 3px;
      @include media(sm) {
        width: 200px;
      }
    }
    #place_search_button{
      font-size: large;
    }
  }
  #place_map {
    height: 600px;
    width: 100%;
    @include media(md) {
      height: 400px;
    }
  }
}

/* ===================================================================
                  shared/search_map
====================================================================*/
.search_map_container{
  margin: 20px auto;
  width: 90%;
  text-align: center;
  #search_address{
    width: 300px;
    font-size: large;
    padding: 3px;
    @include media(sm) {
      width: 200px;
    }
  }
  #search_address_button{
    font-size: large;
  }
  #result_address{
    margin: 10px;
    font-size: large;
  }
  #search_map {
    height: 600px;
    width: 100%;
    @include media(md) {
      height: 400px;
    }
  }
}
