// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$top-background-color: #fee;
$user-color: #16e;
$medicalstaff-color: #eaf;

.top_background_img {
  height: 650px;
  background-image: url('top/hospital.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $top-background-color;
  .image_mask {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    .size_adjust {
      margin: 0 30px;
      padding: 30px;
    }
  }
}

.user_login {
  color: $user-color;
  font-weight: bold;
}

.medicalstaff_login {
  color: $medicalstaff-color;
  font-weight: bold;
}

.down_triangle {
  margin: auto;
  width: 0px;
  height: 0px;
  border-top: 30px solid black;
  border-right: 30px solid transparent;
  border-left:  30px solid transparent;
}


/* ===================================================================
                  shared/place_map
====================================================================*/
.place_map_container{
  margin: 20px auto;
  width: 90%;
  text-align: center;
  .place_map_search_area {
    margin-bottom: 10px;
    #place_search {
      width: 300px;
      font-size: large;
      padding: 3px;
    }
    #place_search_button{
      font-size: large;
    }
  }
  #place_map {
    height: 600px;
    width: 100%;
  }
}

/* ===================================================================
                  shared/search_map
====================================================================*/
.search_map_container{
  margin: 20px auto;
  width: 90%;
  text-align: center;
  #search_address{
    width: 300px;
    font-size: large;
    padding: 3px;
  }
  #search_address_button{
    font-size: large;
  }
  #result_address{
    margin: 10px;
    font-size: large;
  }
  #top_map {
    height: 600px;
    width: 100%;
  }
}
