// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$user-color: #16e;
$breakpoints: (
  'lg': 'screen and (max-width :960px)',
  'md': 'screen and (max-width :720px)',
  'sm': 'screen and (max-width :480px)'
);

@mixin media($bp) {
  @media #{map-get($breakpoints, $bp)}{
    @content;
  }
}

/* ===================================================================
                  users/common
====================================================================*/
.default_user_image, .user_image {
  width: 80px;
  border-radius: 50%;
  background-color: white;
  height: 80px;
  @include media(md) {
    width: 60px;
    height: 60px
  }
  @include media(sm) {
    width: 40px;
    height: 40px
  }

}

/* ===================================================================
                  users/sessions/new
====================================================================*/
.user_login_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media (lg) {
    padding: 0 20%;
  }
  @include media (md) {
    padding: 0 15%;
  }
  @include media (sm) {
    padding: 0 10%;
  }
  h2 {
    color: $user-color;
    @include media(sm) {
      font-size: 1.2em;
      margin: 10px;
    }
  }
  .user_login_container{
    border: 2px solid $user-color;
    border-radius: 20px;
    background-color: white;
  }
  .field {
    margin: 10px;
  }
  .user_login_mail_label, .user_login_password_label {
    padding-right: 10px;
    @include media (sm) {
      display: block;
    }
  }
  .user_login_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $user-color;
    border-radius: 5px;
    background-color: $user-color;
  }
  .user_admin {
    padding: 10px;
    margin: 20px 25%;
    border: 1px solid black;
    border-radius: 20px;
    @include media (sm) {
      margin: 20px 15%;
    }
  }
}

/* ===================================================================
          users/registrations/new & users/registrations/edit
====================================================================*/
.user_registration_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media(lg) {
    padding: 0 20%;
  }
  @include media (md) {
    padding: 0 12%;
  }
  @include media (sm) {
    padding: 0 10%;
  }
  .user_registration_container {
    padding: 20px;
  }
  h2 {
    margin: 0;
    color: $user-color;
  }
  .user_registration_container{
    border: 2px solid $user-color;
    border-radius: 20px;
    background-color: white;
  }
  .field {
    margin: 10px;
  }
  .user_registration_mail_label, .user_registration_password_label, .user_registration_password_confirmation_label, .user_registration_current_password_label {
    padding-right: 10px;
    @include media (md) {
      display: block;
    }
  }
  .user_registration_submit, .link_to_back {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $user-color;
    border-radius: 5px;
    background-color: $user-color;
    @include media(sm) {
      padding: 5px 10px;
    }
  }
  .delete_account_button{
    padding: 5px 40px;
    margin: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
    @include media(sm) {
      padding: 5px 10px;
    }
  }
  .user_admin {
    padding: 10px;
    margin: 20px 25%;
    border: 1px solid black;
    border-radius: 20px;
    @include media (sm) {
      margin: 20px 15%;
    }
  }
}

/* ===================================================================
                  users/shared/_links
====================================================================*/

.user_link_container {
  width: 50%;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  .user_link {
    color: $user-color;
  }
}

/* ===================================================================
                  users/index
====================================================================*/
.user_index_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media(lg) {
    padding: 0 20%;
  }
  @include media(md) {
    padding: 0 15%;
  }
  @include media(sm) {
    padding: 0 10%;
  }
  .user_index_container {
    padding: 20px;
    border: 2px solid $user-color;
    border-radius: 20px;
    background-color: white;
  }
  h2 {
    color: $user-color;
  }
  .user_index_name_container, .user_index_email_container, .user_index_password_container{
    width: 60%;
    margin: 5px auto;
    text-align: left;
    @include media(md) {
      width: auto;
      text-align: center;
      margin: 10px;
    }
  }
  .user_name_index, .user_email_index, .user_password_index {
    padding-right: 10px;
    @include media(md) {
      display: block;
    }
  }
  .user_registration_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $user-color;
    border-radius: 5px;
    background-color: $user-color;
  }
  .user_index_link_edit {
    width: 50%;
    margin: 20px auto;
    padding: 5px;
    color: $user-color;
    border: 1px solid black;
    border-radius: 20px;
    @include media(md) {
      width: 70%;
    }
    @include media(md) {
      width: 85%;
    }
  }
}

/* ===================================================================
                  users/edit
====================================================================*/
.user_edit_main {
  margin: 40px 0;
  padding: 0 25%;
  text-align: center;
  @include media(lg) {
    padding: 0 20%;
  }
  @include media(md) {
    padding: 0 15%;
  }
  @include media(sm) {
    padding: 0 10%;
  }
  .user_edit_container {
    padding: 20px;
    border: 2px solid $user-color;
    border-radius: 20px;
    background-color: white;
    @include media(sm) {
      padding: 5px;
    }
  }
  h2 {
    color: $user-color;
    @include media(sm) {
      font-size: 1.2em;
      margin: 10px;
    }
  }
  .user_edit_name_container {
    margin: 20px;
  }
  .user_edit_image_container, .user_edit_prof_image_container {
    margin: 10px;
  }
  .user_image_label {
    vertical-align: top;
  }
  .user_edit_submit {
    padding: 5px 40px;
    margin: 10px;
    color: white;
    border: 1px solid $user-color;
    border-radius: 5px;
    background-color: $user-color;
  }
}
